@page
@using Tasks.EntityModels
@model Tasks.Web.Pages.TasksModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section extraStyles {
  <link rel="stylesheet" href="/styles/Tasks.css">
}

<div class="container d-flex mt-100 pt-5 px-0">
  <div class="tasks-table border border-1 bg-light">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-light position-sticky top-0">
        <tr>
          <th class="del-col"></th>
          <th class="name-col">Nombre</th>
          <th class="desc-col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        @if (Model.Tasks is not null)
        {
          @foreach (Tasks.EntityModels.Task t in Model.Tasks)
          {
            <tr>
              <td>
                <form method="post" asp-page-handler="Delete">
                  <input type="hidden" name="idToDelete" value="@t.TaskID" />
                  <button class="btn btn-sm btn-danger" type="submit">x</button>
                </form>
              </td>
              <td>@t.TaskName</td>
              <td>@t.Description</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
  <div class="form container bg-light border border-1 bg-light">
    <form method="post">
      <div class="form-group mb-2">
        <label><strong>Agregar Tarea</strong></label><br>
        <label for="TaskName">Nombre:</label><br>
        <input class="form-control" type="text" asp-for="Task!.TaskName" id="TaskName" required>
      </div>
      <div class="form-group mb-2">
        <label for="TaskDesc">Descripción:</label><br>
        <input class="form-control" type="text" asp-for="Task!.Description" id="TaskDesc"><br>
        <div class="d-grid gap-2 col-6 mx-auto my-3">
          <input class="btn btn-lg btn-success" asp-page-handler="Add" type="submit" value="Añadir">
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const message = '@TempData["Exists"]';
    if (message) {
      alert(message);
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const message = '@TempData["InUse"]';
    if (message) {
      alert(message);
    }
  });

</script>